
.about-class{
    scale: .8; opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: 250px 500px;
}
@keyframes fade-in{
    to{
        scale: 1; opacity: 1;
    }
} 
@keyframes fade-out {
    to{opacity: 0;}
}
.home{
    background-repeat: no-repeat;
    background-size: cover;
    scale: 1; opacity: 1;
    animation: header-image ease-in-out;
    animation-timeline: view();
    animation-range: exit;
   
}

@keyframes header-image {
    25%{opacity: 1;}
    50%{opacity: 0;}
    85%,100%{opacity: 0; scale: 1.8;}    
}
.my-service{
    scale: .8; opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: 300px 600px;

}